html, body {
    height: 98%;
    width: 98%;
}

#map { 
    height: 60%;
    width: 100%; }

table, tr, td {
    border: 5px solid #333;
}

table {
    width: 100%;
    height: 30%;
}

td {
    width: 1/3%;
    height: 25%;
}